form {
  margin: 4px 25%;
}

.form-title {
  text-align: center;
}

.alert {
  text-align: center;
  margin-top: 4px;
}
.btn-submit {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.google-sign-in {
  text-align: center;
}

.google-sign-in img {
  height: 36px;
  width: 36px;
}
.google-sign-in button {
  border-color:  #007bff;
  border-radius: 4px;
}

.google-sign-in-text {
  padding: 8px;
  color: #000;
}